binds {
    Mod+N repeat=false { spawn-sh "dms ipc notifications dismissAllPopups"; }
    Mod+V { spawn-sh "dms ipc clipboard toggle"; }
    Mod+slash repeat=false { spawn-sh "dms ipc spotlight toggle"; }
    Super+E hotkey-overlay-title="Workspace: Rename" repeat=false { spawn "dms" "ipc" "call" "workspace-rename" "open"; }
    Super+Shift+Alt+L repeat=false { spawn-sh "dms ipc call lock lock"; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Ctrl+Alt+H { move-workspace-to-monitor-left; }
    Mod+Ctrl+Alt+J { move-workspace-down; }
    Mod+Ctrl+Alt+K { move-workspace-up; }
    Mod+Ctrl+Alt+L { move-workspace-to-monitor-right; }
    Mod+Ctrl+Down { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+J { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K { spawn "sh" "-c" "~/.config/niri/scripts/dynamic-move-to-workspace-up.sh"; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up { move-column-to-workspace-up; }
    Mod+Ctrl+Up { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up { focus-workspace-up; }
    Mod+Shift+Ctrl+Alt+J { move-workspace-to-monitor-down; }
    Mod+Shift+Ctrl+Alt+K { move-workspace-to-monitor-up; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Alt+Print { screenshot-window; }
    Alt+Super+Shift+S { screenshot-window; }
    Mod+Alt+W { set-dynamic-cast-window; }
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+C { center-column; }
    Mod+Comma { consume-window-into-column; }
    Mod+Ctrl+End { move-column-to-last; }
    Mod+Ctrl+H { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+L { move-column-right-or-to-monitor-right; }
    Mod+Ctrl+Left { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp { move-column-left; }
    Mod+Ctrl+WheelScrollLeft { move-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+End { focus-column-last; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+F { maximize-column; }
    Mod+G repeat=false { switch-focus-between-floating-and-tiling; }
    Mod+H { focus-column-or-monitor-left; }
    Mod+Home { focus-column-first; }
    Mod+L { focus-column-or-monitor-right; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+MouseMiddle { close-window; }
    Mod+Period { expel-window-from-column; }
    Mod+Q repeat=false { close-window; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+Ctrl+H { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-window-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-window-to-monitor-right; }
    Mod+Shift+Down { focus-monitor-down; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }
    Mod+Shift+Left { focus-monitor-left; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+R { reset-window-height; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+Up { focus-monitor-up; }
    Mod+Shift+WheelScrollDown { focus-column-right; }
    Mod+Shift+WheelScrollUp { focus-column-left; }
    Mod+T { toggle-column-tabbed-display; }
    Mod+WheelScrollLeft { focus-column-left; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+Alt+M { set-dynamic-cast-monitor; }
    Print { screenshot show-pointer=false; }
    Super+Shift+S { screenshot show-pointer=false; }
    Mod+Alt+D { spawn-sh "pkill -SIGUSR1 wayscriber"; }
    Mod+Return repeat=false { spawn "sh" "-c" "~/.config/niri/scripts/open-terminal.sh"; }
    Super+B repeat=false { spawn "sh" "-c" "~/.config/niri/scripts/open-browser.sh"; }
    Super+S repeat=false { spawn-sh "pkill -USR2 -n handy"; }
    Super+Shift+Ctrl+S { spawn "sh" "-c" "~/.config/niri/scripts/record-screen.sh"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.015-"; }
    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.015+"; }
    XF86MonBrightnessDown cooldown-ms=50 allow-when-locked=true { spawn "brightnessctl" "s" "5%-"; }
    XF86MonBrightnessUp cooldown-ms=50 allow-when-locked=true { spawn "brightnessctl" "s" "+5%"; }
    Mod+Alt+R { clear-dynamic-cast-target; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Space repeat=false { toggle-overview; }
}
